<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
id="Quran.smartselwady.com"
version="1.0">

  <name>Quranplugin</name>

  <description>
    Quran Plugin By Smarts Elwady
  </description>

  <license>Quran Plugin</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  	<js-module src="www/smarts.js" name="Quranplugin">
			<clobbers target="Quranplugin" />
	</js-module>
<!-- android -->
<platform name="android">
<source-file src="www/001.mp3" target-dir="assets/www/mp3"/>



<config-file target="res/xml/config.xml" parent="/*">

</config-file>

    </platform>


</plugin>
